* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.video {
	width: 75vw;
}

.match-input {
	width: 400px !important;
}

@media only screen and (max-width: 600px) {
	.video {
		width: 100%;
	}
}
